.footer1 {
  height: 60vh;
  background-color: rgba(226, 222, 222, 0.192);
}

.f1top {
  display: flex;
  height: 90%;
  align-items: center;
  justify-content: space-evenly;
}

.f1card {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.f1img {
  background: #fa7268 !important;
  color: #fff !important;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.f1img img {
  height: 50%;
  width: 50%;
}

.f1head {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.f1desc {
  text-align: center;
}

.f1bottom {
  text-align: center;
  font-weight: bold;
  font-size: smaller;
  letter-spacing: 1;
}

@media only screen and (max-width: 720px) {
  .footer1 {
    height: auto;
    padding: 50px 0px 50px 0px;
  }
  .f1top {
    flex-direction: column;
  }
  .f1card {
    margin: 30px;
  }
}
